@charset "UTF-8";
/* CSS Document */

* { font-family: "Lato";
    margin: 0;
    padding: 0;
}

body {
    border-left: 4px #ccc solid;
    padding: 8% 15% 15% 5%;
    background-color: #fff;
}

h1, h1 a {
    font-size: 1.5em;
    color: #fcca81;
    font-weight: 400;
}



h2 {
    font-size: 1em;
    color:#000;
    font-weight: 300;
}

a {
    text-decoration: none;
    border-bottom: none;

}

h2 a {
    font-size: 1.25em;
    color: #000;
}

h3 {
    color: #ccc;
    font-size: 1em;
}

h4 a {
    color:##fcca81;
}

nav {
    font-size: 1em;
    color: #ccc;
    display: inline;
    float: left;
    margin: 30px 0 0 0;
}



nav a {
    border-bottom: 2px #ccc solid;
    margin-left: 25px;
    padding-bottom: 5px;
    color: #ccc;
    text-decoration: none;
}

nav a:hover {
    border-bottom: 2px #555 dotted;
    padding-bottom: 5px;
    color: #ccc;
}

header {
    font-size: 1.25em;
    color: #000;
    margin: 0 0 5% 0;
}

header h2 {

}

article {
    border-bottom; 2px #ccc solid;
    margin: 5% 20% 0 0;
    padding: 0;
    border-bottom: 2px #ccc solid;
}

article p:first-letter {
    color: #ccc;
    font-size: 2em;
    float: left;
    padding: 0 10px 15px 0;
}

footer {

}



img {
}
