@charset "UTF-8";
/* CSS Document */

* { font-family: "Lato";
    margin: 0;
    padding: 0;
}

body {
    border-left: 4px #ddd solid;
    padding: 3% 15% 15% 5%;
    background-color: #fff;
}

h1, h1 a {
    font-size: 1.5em;
    color: #fcca81;
    font-weight: 400;
}



h2 {
    font-size: 1em;
    color:#000;
    font-weight: 300;
    padding-top: 5px;
}

a {
    text-decoration: none;
    border-bottom: none;

}

h2 a {
    font-size: 1.35em;
    color: #000;
    font-weight: 500;
}

h3 {
    color: #ddd;
    font-size: 1.25em;
    font-weight: 400;
    margin: 10px 0 5px 0;
}

h4 a {
    color: #fcca81;
    margin-left: 90%;
    margin-top: 20px;
    padding: 30px 0 20px 0;
    font-weight: 500;
    text-align: right;
}

h4 a:hover {
    color: #000;
}

nav {
    font-size: .85em;
    color: #ddd;
    display: inline;
    float: left;
    margin: 25px 0 10px -25px;
}



nav a {
    border-bottom: 2px #ddd solid;
    margin-left: 25px;
    padding-bottom: 3px;
    color: #ddd;
    text-decoration: none;
}

nav a:hover {
    border-bottom: 2px #555 solid;
    padding-bottom: 5px;
    color: #555;
    transition: color 0.2s ease-in-out, color 0.2s ease-in-out;
}

header {
    font-size: 1.25em;
    color: #000;
    margin: 0 0 5% 0;
}

article {
    margin: 5% 0 0 0;
    padding: 25px 0;
    border-bottom: 2px #ddd solid;
}

article p:first-letter {
    color: #ddd;
    font-size: 4.5em;
    float: left;
    padding: 0 10px 15px 0;
    margin-top: 10px;
}

article p {
    padding-bottom: 25px;
}

footer nav {
    margin: 0px 0;
    padding: 50px 0 20px 0;
}

footer a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border-bottom: none;
    color: #fcca81;
    margin: 15px 0;

}

footer a:hover {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border-bottom: none;
    color: #ddd;

}

footer p {
    clear: left;
    padding: 15px 0 0 0;
    color: #ddd;
    font-size: .85em;
}

img {
    margin: 15px 0 25px 0;
    border-radius: 4px;
    border: 0;
    position: relative;
    width: 100%;
    filter: drop-shadow(3px 3px 4px lightgrey);
}
